<div class="signin-content animated fadeIn">
    <mat-card>
        <mat-card-content>
            <img src="../../../assets/img/1.png" width="200px">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <mat-input-container class="full-width-input">
                    <input matInput placeholder="Email" formControlName="email" required>
                    <mat-error *ngIf="isFieldInvalid('email')">
                        Please inform email
                    </mat-error>
                </mat-input-container>

                <mat-input-container class="full-width-input separate">
                    <input matInput type="password" placeholder="Password" formControlName="password" required>
                    <mat-error *ngIf="isFieldInvalid('password')">
                        Please inform your password
                    </mat-error>
                </mat-input-container>
                <button mat-raised-button color="primary" type="submit">Login</button>
            </form>
            <a routerLink="/register">Register</a>
        </mat-card-content>
    </mat-card>
</div>