<div class="container">
    <h1 mat-dialog-title> {{ data.title }}</h1>
    <mat-dialog-content>
        <div class="container">
            <form [formGroup]="frm" (ngSubmit)='save(frm)'>
                <mat-form-field>
                    <input matInput placeholder="Group Name" formControlName="groupname" class="person-input">
                    <mat-error *ngIf="frm.controls.groupname.invalid">{{getGroupNameErrorMessage()}}</mat-error>
                </mat-form-field>

                <br />

                <mat-radio-group formControlName='status' ng-model="status">
                    <label>Status:</label>
                    <mat-radio-button value="true">Active</mat-radio-button>
                    <mat-radio-button value="false">Inactive</mat-radio-button>
                    <mat-error *ngIf="frm.controls.status.invalid">{{getStatusErrorMessage()}}</mat-error>
                </mat-radio-group>

                <mat-form-field style="visibility: hidden; height: 0vh !important">
                    <input matInput type="text" formControlName='id'>
                </mat-form-field>

                <div class="button-row">
                    <button mat-button [mat-dialog-close]>Cancel</button>
                    <button mat-raised-button color="primary" type="submit" class="btnSave" [disabled]="!frm.valid">
                        <mat-icon aria-label="icon-button">save </mat-icon>
                        <span>Submit</span>
                    </button>
                </div>
            </form>
        </div>
    </mat-dialog-content>
</div>